[submodule "imports/bqn-libs"]
	path = imports/bqn-libs
	url = https://github.com/mlochbaum/bqn-libs
[submodule "imports/BQN386"]
	path = imports/BQN386
	url = https://github.com/dzaima/BQN386
[submodule "imports/c-header-to-bqn-ffi"]
	path = imports/c-header-to-bqn-ffi
	url = https://github.com/Brian-ED/c-header-to-bqn-ffi.git
